<nav class="navbar navbar-default navbar-transparent">
  <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav navbar-right">
           <li><a href="https://twitter.com/"><i class="fa fa-twitter navbar-top-icon hvr-bounce-in" aria-hidden="true"></i></a></li>
           <li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin navbar-top-icon hvr-bounce-in" aria-hidden="true"></i></a></li>
          <li><a href="https://www.linkedin.com/"><i class="fa fa-github navbar-top-icon hvr-bounce-in" aria-hidden="true"></i></a></li>
             </ul>
           </li>
         </ul>
       </div>
     </div>
   </nav>
