<nav class="navbar navbar-default navbar-fixed-bottom navbar-transparent">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!-- <li class="hvr-backward"><i class="fa fa-arrow-left navbar-bottom-icon-hidden" aria-hidden="true"></i></li> -->
            <% @nav_array.each do |nav| %>
            <li class="navbar-bottom-font hvr-float hvr-underline-reveal"><a href='<%= nav[:path] %>'><p><i class="fa <%= nav[:icon] %> navbar-bottom-icon <%= nav[:hover] %>" aria-hidden="true"></i></p><%= nav[:title] %></a></li>
              <% end %>
            <li class="dropdown navbar-bottom-font hvr-float hvr-underline-reveal">
              <a href="/pages/projects" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><p><i class="fa fa-bug navbar-bottom-icon hvr-buzz-out" aria-hidden="true"></i></p><span>Projects</span></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Project Category</li>
                <li><a href="/pages/projects">Ruby</a></li>
                <li><a href="/pages/projects">Web</a></li>
                <li><a href="/pages/projects">Misc</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/pages/projects">I WANT TO SEE ALL OF THEM!</a></li>
              </ul>
            </li>
            <!-- <li class="hvr-forward"><i class="fa fa-arrow-left navbar-bottom-icon-hidden" aria-hidden="true"></i></li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
