<nav class="navbar navbar-default navbar-transparent">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a href="#" class="navbar-brand">EK</a> </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav navbar-right">
           <li><a href="/"><i class="fa fa-home navbar-top-icon hvr-bounce-in" aria-hidden="true"></i></a></li>
           <!-- <li><a href="https://twitter.com/"><%= image_tag("icon_twitter", :alt => "twitter") %></a></li> -->
           <li><a href="https://twitter.com/"><i class="fa fa-twitter navbar-top-icon hvr-bounce-in" aria-hidden="true"></i></a></li>
           <li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin navbar-top-icon hvr-bounce-in" aria-hidden="true"></i></a></li>
           <li><a href="mailto:fake@email.com"><i class="fa fa-envelope navbar-top-icon hvr-bounce-in" aria-hidden="true"></i></a></li>
           <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-arrow-down navbar-top-icon-arrow hvr-hang" aria-hidden="true"></i></a>
             <ul class="dropdown-menu">
               <li><a href="/pages/blog">Blog</a></li>
               <li><a href="/pages/about">About</a></li>
               <li><a href="https://www.github.com/ethankhoa">GitHub</a></li>
               <li><a href="/pages/contact">Contact</a></li>
               <li><a href="/pages/projects">Projects</a></li>
               <li role="separator" class="divider"></li>
               <li><a href="http://www.theuselessweb.com/">Feeling Lucky?</a></li>
             </ul>
           </li>
         </ul>
       </div>
     </div>
   </nav>
