<div class="container">

<h1><a href="/">/HOME</a><span class="orange-font">/ABOUT?</span></h1>
</div>
<!-- # <%= link_to "what I want the link to be called", "root_path"%> -->

<div class="container-fluid about-header">
  <p class="fancy-font">Nice to meet you.</p>
  <h4 class="about-subtitle">Psst. Push this arrow</h4>
  <h3><a href="#about-main"><i class="fa fa-arrow-down hvr-hang" aria-hidden="true"></a></i>
</h3>
</div>
<div class="about-section" id="about-main">
<div class="row">
  <div class="col-md-4">
    <div class="about-card">
      <img src="http://res.cloudinary.com/ethankhoa/image/upload/v1489320899/work_profile_bddke7.jpg" alt="John" style="width:100%">
      <div class="card-container">
        <h1>Ethan Huynh</h1>
        <p class="title">Professional Button Masher</p>
        <p class="title">Currently Learning Ruby</p>
        <a href="#"><i class="fa fa-github"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <p><about-button>Contact</about-button></p>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="about-summary">
    <h1>A little a bit about myself</h1>

        <h2>Why I chose to get into coding.</h2>
        <p>Over the past few years I have been teaching myself coding through various channels. The desire to teach myself various coding languages has been through on the job technical projects and from my natural desire to learn. As I’ve grown personally and professionally, I have long sought to move myself i from being the user into becoming the creator.</p>
  </div>

  </div>

</div>
</div>

<div class="about-banner fancy-font">
<h3>I wanted to move from being the user into becoming the creator.</h3>
</div>
  <div class="row">
    <div class="about-section">
    <div class="col-md-4 about-box">
        <h1>My love story with technology.</h1>
      </div>
    </div>
    <div class="col-md-4 about-box">
        <p>My career path over the past decade has given me the opportunity to contribute to the marketing industry that has rapidly changed to become more reliant on technology and coding. I have worked at large tech companies such as Yahoo! and Amazon, as well as small to mid-size advertising agencies and a Portland, OR-based SaaS startup. </p>
          <p>During college, I sold Gateway computers, worked at the Apple Store, provided technical customer support for Dell, and was an in-home computer support consultant. </p>

    </div>
    <div class="col-md-4">
      <div class="about-box">
          <p>I am a serial first adopter. I enjoyed the early days of 32mb MP3 players and digital cameras that stored pictures on floppies, buying the first Pebble smart swatch, and was one of the first people to own the original Android phone, the HTC Dream. Most recently I have been experimenting with home automation and was an early adopter of the Amazon Echo platform. Even without proper coding experience, access to the Amazon developer program has allowed me to get a better understanding of the custom skills and integrations that are available. I was sure to bring my Amazon Echos with me when I moved from the US to Australia in 2015. </p>
          <p>My love of tech is not just with the latest gadget or software, but how things work and how these technologies effect other aspects of our personal and professional lives. That is why I love technology.</p>
      </div>
    </div>
  </div>
</div>

<div class="about-banner fancy-font">
  <div class="about-summary">

<h3>Get in touch, let's chat, have a pow wow, shoot the breeze. </h3>
<p>*Because you want to chat about something not because I am a sad and lonely individual.</p>

<p></p>
<p><a href="/pages/contact"><button type="button" class="btn about-btn btn-lg right-indent uppercase">Contact Me ></button></a></p>
</div>

</div>
