<h1>Stick in whatever</h1>
<p>AIN'T ABOUT NOTHIN!</p>

<%= link_to "what I want the link to be called", "root_path"%>




<% content_for :navbar do %>
     <%= render 'partials/nav_about' %>
<% end %>
