<div class="container">

<h1><a href="/">/HOME</a><span class="orange-font">/ABOUT?</span></h1>
</div>
<%= link_to "what I want the link to be called", "root_path"%>

<div class="container">
  <p class="fancy-font">Hello.</p>
</div>
