<div class="container">

  <h1><a href="/">/HOME</a><span class="orange-font">/BLOG?</span></h1>
<div class="flex-container">
<p><img src="https://www.cs.utah.edu/~gk/atwork/img/hevequip2.gif"></p>
<p><img src="http://rs792.pbsrc.com/albums/yy207/ALXis0/398533_Pikaconstruction.gif~c200"></p>
  </div>
</div>
