<div class="container-fluid">

<h1>CONTACT WHAT??</h1>
<p>I DON'T KNOW MAN</p>
</div>

<h2>Send me an email man!</h2>
<p>
<textarea class="form-control" rows="3"></textarea>
</p>

<% content_for :navbar do %>
     <%= render 'partials/nav_contact' %>
<% end %>
