

<div class="container-fluid">
  <div class="jumbotron">

  <div class="titlepage">


<h1 class="line">Hi, I am <span class="name">Ethan Huynh</span> and I can kind of do stuff with code.<span class="blinking-cursor">|</span></h1>


<h2>// <span class="comment">What can I do? Shit I don't know!</span></h2>
<div class="right-indent">

  <a href="/pages/projects"><button type="button" class="btn title-btn btn-lg right-indent">Projects ></button></a>

</div>


</div>
</div>
</div>
