<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to Ethan's World</title>
  </head>
  <body background="twi.gif" font color="green">


<center><img src ="welcome.gif" alt="Welcome" align="middle"></center>

<blink><center><font size = +1 face = "comic sans MS" color = "yellow"><p><img src="computer.gif">You Have Entered Ethan's World.<img src="computer.gif"></p></font></center></blink>
<br>
<br>
<hr>
<img src="coolstuff.gif">
<p><font color="white"><a href="">Saved by the Bell fan club</a></font></p>
<p><font color="white"><a href="">Mortal Kombat cheat codes</a></font></p>
<p><font color="white"><a href="">Power Rangers only</a></font></p>
<p>

<center>
  <img src ="dogconstruction.gif" alt = "Under Construction">
  <img src ="under_construction_2.gif" alt="Under Construction">
  <img src ="dogconstruction.gif" alt = "Under Construction">
<br>

<p><font color = pink>I am the President if you want to join just </font><img src="email.gif"></p>
<blink><img src="boysring.jpg"></blink>

<center><p><font color = "white">You are visitor number: </> </font><img src = "asdf.jpg"></center>

<marquee><p><font face="comic sans MS" color = "green" size = 12> Thanks for stopping by, don't forget to sign my guestbook!</p></font></marquee>
<center><img src = "slave1.gif"><img src ="guestbook.gif" alt="Please sign my guestbook"><img src = "slave1.gif"></center>
<br>
<br>
  <audio controls src="gangstasparadise.mp3" type="audio/mpeg" autostart="true" autoplay="true"></audio>
  <center><img src = "netscape.gif" alt="Best viewed with Netscape or Microsoft Internet Explorer"></center>
  </body>
</html>
