

 .flex-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   //  height: 75vh;
   align-items: center;
 }

 .font-bigger {
   font-size: 1.5em;
 }

.projects-subhead {
  padding: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
}

.flex-item {
  position: relative;
  height: 450px;
  // width: 500px;
  overflow: hidden;
  flex-grow: 1;
  // padding: 0 5px;
  margin: 25px;
  background-color: RGBA(250, 250, 250, 1.00);
  border-radius: 1px;
}

.flex-image {
  width: 100%;
  // height: 300px;
}

.flex-image-description {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 320px;
  // bottom: 100px;
  left: 0;
  right: 0;
  background-color: rgba(45, 45, 45, 0.95);
  color: $cb-text;
  visibility: none;
  // -webkit-transition-duration: 0.5s;
  // transition-duration: 0.5s;
  // -webkit-transition: visibility opacity .5s ease;
  // transition: visibility opacity .5s ease;
  transition: .5s ease;
  opacity: 0;
  text-align: center;
  align-items: center;
  padding-bottom: 20px;
}

.box_project_title {
  color: $cb-yellow;
  font-size: 25px;
}

.box_project_title-overlay {
  text-align: right;
  color: $cb-text;
  font-size: 25px;
  padding-right: 25px;
  background-color: transparent;
  width: 100%;
}

.box_project_title-overlay:hover {
  background: orange;
}

.box_project_description-overlay {
  position: absolute;
  color: $cb-back3;
  font-size: 1em;
  background-color: RGBA(250, 250, 250, 1.00);
  width: 100%;
  bottom: 0;
  text-align: left;
  padding-left: 25px;
}

.thumbnail {
  flex-grow: 1
}

.ruby_icon {
  content: 'f219';
  font-family: 'Font Awesome';
  color: #ED213C;
  font-size: 1em;
}

.grey-text {
  color: $cb-gray;
}

.flex-item:before, .flex-image-overlay {
  content:"";
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(45, 45, 45, 0);
  color: $cb-back3;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  text-align: center;
  align-items: center;
  // padding-top: 20px;
}

.flex-item:hover .flex-image-description {
  visibility: visible;
  opacity: 1;
}
